flwr[simulation]
opacus
datasets
# pytorch 2.13.0 torchvision 0.28.0 July 09, 2026 fails with OOM
# CUDACachingAllocator.cpp:3933 memory allocation failed with OOM on device 0 while trying to allocate
torchvision==0.27.1
transformers
